{% extends 'base.html' %}

{% block title %}페이지 제목{% endblock %}

{% block content %}


<html>
  <head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>
      메뉴별 판매량
    </title>
  </head>
  <body>
    <h3> 메뉴별 판매량 {{date1}} ~ {{date2}} </h3>
    <table>
      <tr>
            <th>메뉴ID</th>
            <th>메뉴</th>
            <th>판매량</th>
            <th>이미지</th>
        </tr>
        {% for item in sales_quantity %}
            <tr>
                <td>{{ item[0] }}</td>
                <td>{{ item[1] }}</td>
                <td>{{ item[2] }}</td>
                <td><img src ="{{ item[3] }}" alt="이미지" style="max-width: 70px;"></td>
            </tr>
        {% endfor %}            
    </table>

  </body>
</html>

{% endblock %}